html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  background-color: black;
  color: rgb(168, 168, 168);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.content, .footer-content {
  width: 60%;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}

h1 {
  color: white;
  font-weight: 800;
  font-size: 7em;
  margin: 40px 0;
}

p {
  line-height: 1.5em;
  margin: 40px 0;
  font-size: 2em;
}
.subscribe {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 40px 0;
}

.subscribe input, .subscribe button {
  flex-grow: 1;
  height: 50px;
  padding: 8px 12px;
  font-size: 1.2em;
  border: none;
  border-radius: 6px;
  box-sizing: border-box;
  appearance: none;
  outline: none;
  transition: border-color 0.3s ease;
}

.subscribe input:hover, .subscribe button:hover {
  border-color: #888;
}

.subscribe input:active, .subscribe button:active {
  border-color: #666;
}

.subscribe button {
  background-color: #165aaa;
  color: white;
  cursor: pointer;
  font-weight: 400;
}

.subscribe button:hover {
  background-color: #134a88;
}

.subscribe button:active {
  background-color: #103a66;
}

footer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.footer-content {
  display: flex;
  align-items: center;
  font-size: .5em;
  padding: 20px 0 40px 0;
  color: white;
  justify-content: flex-start;
  flex-shrink: 0;
}

.footer-content img {
  margin-right: 10px;
}

.end-period {
  animation: flash 1.5s infinite;
}

@keyframes flash {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}


@media screen and (max-width: 600px) {
  .content, .footer-content {
      width: 100%;
  }
}
