html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  background-color: #000000;
  color: #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

body::after {
  content: "";
  background: url('bpbg.JPG') no-repeat center center fixed; 
  background-size: cover;
  opacity: 0.50;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1; 
  background: linear-gradient(to left, rgba(0,0,0,1) 15%, rgba(0,0,0,0) 100%), url('bpbg.JPG');
}

.content, .footer-content {
  width: 60%;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}

h1 {
  color: white;
  font-weight: 800;
  font-size: 7em;
  padding: 20px 0;
  margin: 0;
}

p {
  line-height: 1.5em;
  padding: 40px 0;
  font-size: 2em;
  margin: 0;
}

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 75%;
  padding: 20px 0;
}

.subscribe form {
  display: flex;
  gap: 8px;
}

.subscribe input, .subscribe button {
  flex-grow: 1;
  height: 50px;
  padding: 12px 16px;
  font-size: 1.2em;
  border: none;
  border-radius: 6px;
  box-sizing: border-box;
  appearance: none;
  outline: none;
  transition: border-color 0.3s ease;
}

.subscribe input {
  min-width: 320px;
}

.subscribe input:hover, .subscribe button:hover {
  border-color: #aaa; /* light gray for higher contrast */
}

.subscribe input:active, .subscribe button:active {
  border-color: #fff; /* white for highest contrast */
}

.subscribe button {
  background-color: #165aaa;
  color: white;
  cursor: pointer;
  font-weight: 400;
  padding: 0 24px;
  transition: background-color 0.3s ease; /* add transition for smoother color change */
}

.subscribe button:hover {
  background-color: #134a88;
  color: #fff; /* white text on hover for higher contrast */
}

.subscribe button:active {
  background-color: #103a66;
  color: #fff; /* white text when active for highest contrast */
}

.disclaimer {
  font-size: 0.9em;
  color: #ccc;
  padding: 24px 0 0 0;
}

#logo {
  height: 24px;
}

footer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.footer-content {
  display: flex;
  align-items: center;
  font-size: .5em;
  padding: 20px 0 40px 0;
  color: white;
  justify-content: flex-start;
  flex-shrink: 0;
}

.footer-content img {
  margin-right: 10px;
}

.end-period {
  animation: flash 1.5s infinite;
}

@keyframes flash {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}


@media (max-width: 767px) {
  .content {
    margin-top: 80px;
    width: 80%;
  }

  h1 {
    font-size: 2.75em;
    padding: 10px 0;
  }
  
  p {
    font-size: 1.25em;
    padding: 10px 0;
  }

  .subscribe {
    width: 100%;
    flex-direction: column;
    padding: 10px 0;
  }

  .subscribe form {
    flex-direction: column;
    gap: 0;
  }

  .subscribe input, .subscribe button {
    width: 100%;
    margin: 8px 0;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: .75em;
  }

  .footer-content img {
    display: none;
  }
}
